body {
background: linear-gradient(to right, #ff9300 21%, #ffcb3e 98%);

 display: block ;
 width: 1200px;
 border: 10px solid rgb(226, 40, 7); 
 margin: 10px auto;
 padding: 15px 15px;
}

h1 {
   text-align: center;
   font-family: Impact, Charcoal, sans-serif; 
   font-size: 60px;
  text-shadow: 2px 2px #050000;
}
h3 {
   text-align: center;
   font-family: Impact, Charcoal, sans-serif; 
  text-shadow: 1px 1px #000000;
}

h2 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif; 
  font-size: 50px;
  text-shadow: 3px3px #050000;
}

ol {
  font-family: Impact, Charcoal, sans-serif;
   
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-right: 20px;
}  

a:link {
  color: rgb(17, 0, 255);
  font-family: Impact, Charcoal, sans-serif;
}

a:hover {
  color: hotpink;
  font-family: Impact, Charcoal, sans-serif;

}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
margin-left: auto;
margin-right: auto;
font-family: Charcoal,  sans-serif;

}
.content-table thead tr{
background-color: #ff9300;
color:white;
text-align: left;
font-weight: bold;


}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr{
  border-bottom: 1px solid #ff9300
}
.content-table tbody tr:nth-of-type(even){
  background-color: #ffcb3e
}
.content-table tbody tr:  :last-of-type {
  border-bottom: 2px solid #ff9300

}